table {
    border: 1px solid black;
}
th, td {
    border-bottom: 1px solid #ddd;
}
.child_table td:hover {background-color: darksalmon;
    }
h2{
    text-align: start;
}
.all_table {
    border: 0;
    width:100%;
    border-collapse: separate;
    border-right: 100px;
    vertical-align: top;
}
.child_table{
    top: 10px;
}
.child_table a{
    text-decoration: none;
    color: black;
}
