<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">

<link href="/login.css" rel="stylesheet" type="text/css">

<head>
    <meta charset="UTF-8">
    <title>AddressSystem: Sign-in</title>
</head>
<body>
<form method="post" action="/login">
    <div class="parent">
        <div class="block">
            <fieldset class="fieldsetLogin">
                <div class="container">
                    <table style="margin-bottom: 10%;">
                        <tr>
                            <td cellspacing="2"><label for="usernameField"
                                                       style="margin: 5%; font-size: 16px;">Логин</label></td>
                            <td cellspacing="2"><input id="usernameField" type="text" name="username"
                                                       style="border-width:1px; margin: 5% auto; font-size: 14px;"></td>
                        </tr>
                        <tr>
                            <td cellspacing="2"><label for="passwordField"
                                                       style="margin: 5%; font-size: 16px;">Пароль</label></td>
                            <td cellspacing="2"><input id="passwordField" type="password" name="password"
                                                       style="border-width:1px; margin: 5% auto; font-size: 14px;"></td>
                        </tr>
                        <tr style="height: 10px;">
                        </tr>
                        <tr>
                            <td colspan="1" style="text-align: left"><input type ="submit" class="buttonEnter" value="Войти"
                                                                        style="margin-left:5%"></td>
                            <td colspan="2" style="text-align: right"><a class="buttonEnter" th:text="Регистрация"
                                                                         href="/registration"
                                                                         style="margin: 0 0 0 auto; float:right;"></a>
                            </td>
                        </tr>
                    </table>
                    <label style="font-size: 14px; margin-left: 18%;">Войти с помощью соцсетей</label>
                    <div align="left">
                        <a class="but googleButton" href="/login/google"><img src="/images/google.png" style="height: 25px;
                                                                              width: 25px; margin-left: 85px;"></a>
                        <a class="but vkButton" href="/login/vk"><img src="/images/vk.png" style="
                                                                       height:30px;width: 30px;"></a>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</form>
</body>
</html>