<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление объекта</title>
    <link rel="stylesheet" type="text/css" href="/main.css"/>
</head>
<body>
<h1>Добавление объекта</h1>
<form action="#" th:action="@{/location/createRecord}" th:object="${record}" method="post">
    <p>Имя: <input type="text" th:field="*{name}" required/></p>
    <input type="hidden" th:field="*{parent}" required/>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
<p th:text="${error}"> </p>
</body>
</html>