<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Запись </title>
    <link rel="stylesheet" type="text/css" href="/main.css"/>
</head>
<body>
<main role="main" class="container">

    <div class="starter-template">
        <h1>Запись объекта локации: <span th:text="${unitRecord.getName()}"></span></h1>

        <div>
            <h2>Характеристики записи</h2>
            <table class="child_table">
                <tr>
                    <th>Характеристика</th>
                    <th>Значение</th>
                </tr>
                <tr>
                    <td>Имя объекта</td>
                    <td><span th:text="${unitRecord.getName()}" ></span></td>
                </tr>
                <tr>
                    <td>ID объекта</td>
                    <td>
                        <a th:if="${unitRecord.getAddressUnit()!=null}"
                           th:href="@{/location/{id}(id=${unitRecord.getAddressUnit()})}"
                           th:text="${unitRecord.getAddressUnit()}"></a></td>
                </tr>
                <tr>
                    <td>Родительский объект</td>
                    <td>
                        <a th:if="${unitRecord.getParent()!=null}"
                           th:href="@{/location/{id}(id=${unitRecord.getParent()})}"
                           th:text="${unitRecord.getParent()}"></a></td>
                </tr>
                <tr>
                    <td>Номер следующей записи</td>
                    <td>
                        <a th:if="${unitRecord.getNextRecordId()!=null}"
                           th:href="@{/location/record/{id}(id=${unitRecord.getNextRecordId()})}"
                           th:text="${unitRecord.getNextRecordId()}"></a></td>
                </tr>
                <tr>
                    <td>Номер предыдущей записи</td>
                    <td><a th:if="${unitRecord.getPrevRecordId()!=null}"
                           th:href="@{/location/record/{id}(id=${unitRecord.getPrevRecordId()})}"
                           th:text="${unitRecord.getPrevRecordId()}"></a></td>
                </tr>
                <tr  th:if="${unitRecord.getAddressUnitValueList()}!=null" th:each="record : ${unitRecord.getAddressUnitValueList()}">
                    <td><span th:text="${record.getCharacterValue().getName()}"> </span></td>
                    <td><span th:text="${record.getValue()}"> </span></td>
                </tr>

            </table>
        </div>
    </div>
</main>
</body>
</html>