<!DOCTYPE HTML>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>International Address System</title>
    <link rel="stylesheet" type="text/css" href="/main.css"/>
</head>
<body>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Объект локации: <span th:text="${unit.getLastAddressRecord().getName()}"></span></h1>

                <div th:if="${#arrays.length(unitChildren)!=0}">
                <h2>Дочернии объекты</h2>
                    <form action="#" th:action="@{/location/createRecord}" th:object="${record}" method="get">
                        <input type="hidden" th:field="*{parent}" required/>
                        <p><input type="submit" value="Добавить дочерний объект" /></p>
                    </form>
                    <table class="child_table">
                        <tr>
                            <th>ID объекта</th>
                            <th>Имя</th>
                        </tr>
                        <tr th:each="unitChild: ${unitChildren}">
                            <td><a th:if="${unitChild!=null}"
                                   th:href="@{/location/{id}(id=${unitChild.getAddressUnitGuId()})}"
                                   th:text="${unitChild.getAddressUnitGuId()}"></a></td>
                            <td><span th:if="${unitChild.getLastAddressRecord()!=null}"
                                      th:text="${unitChild.getLastAddressRecord().getName()}"> </span></td>
                    </tr>
                        </table>
                    </div>
                    <div th:if="${#arrays.length(unit.getLastAddressRecord().getAddressUnitValueList())!=0}">
                        <h2>История объекта</h2>
                        <table class="child_table"
                        >
                            <tr>
                                <th>ID записи</th>
                            </tr>
                            <tr th:each="unitRec : ${unit.getAddressRecordsList()}">
                                <td>
                                    <a th:if="${unitRec!=null}"
                                       th:href="@{/location/record/{id}(id=${unitRec.getAddressUnitRecordId()})}"
                                       th:text="${unitRec.getAddressUnitRecordId()}"></a></td>
                            </tr>
                        </table>
                    </div>


                    <div  th:if="${#arrays.length(unit.getLastAddressRecord().getAddressUnitValueList())!=0}">
                        <h2>Характеристики объекта</h2>
                        <table class="child_table">
                            <tr>
                                <th>Характеристика</th>
                                <th>Значение</th>
                            </tr>
                            <tr th:each="unitVal : ${unit.getLastAddressRecord().getAddressUnitValueList()}">
                                <td><span th:text="${unitVal.getCharacterValue().getName()}"> </span></td>
                                <td><span th:text="${unitVal.getValue()}"> </span></td>
                            </tr>
                        </table>
                    </div>
    </div>
</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{/javascript.js}"></script>
</body>
</html>